[submodule "vendor/gemma4-intel-serve"]
	path = vendor/gemma4-intel-serve
	url = https://github.com/mjsabby/gemma4-intel-serve
	branch = main
	shallow = true
[submodule "vendor/qwen35-intel-serve"]
	path = vendor/qwen35-intel-serve
	url = https://github.com/mjsabby/qwen35-intel-serve
	branch = main
	shallow = true
